---
title: "Jon Withers"
layout: splash
permalink: /
header:
  overlay_color: "#FFF"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  cta_label: "My Resume"
  cta_url: "https://jonwithers.github.io/portfolio/assets/documents/resume.pdf"
excerpt: "Data Science \\| Social Science \\| Music
"
intro:
  - excerpt: ''


feature_row1:
  - image_path: /assets/images/portrait.jpg
    alt: "Jon Withers"
    title: "About Me"
    excerpt: "My love of quantitative problem solving led me to study physics. My curiosity about people, language, and society led me to a doctorate in the study of music in its cultural context. As a data scientist, I have the tools to use my entire background to find solutions to real challenges."
    url: "https://jonwithers.github.io/portfolio/contact/"
    btn_label: Contact me!"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/turkish_frontpage_button.png
    alt: "Turkish Song NLP"
    title: "Turkish Song NLP"
    excerpt: "Supervised and unsupervised learning using 15,000+ Turkish song lyrics"
    url: "https://jonwithers.github.io/portfolio/turkish-song-nlp"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/westnile_frontpage_button.png
    alt: "West Nile Prediction"
    title: "West Nile Prediction"
    excerpt: "Using weather data to predict the West Nile mosquito infection rate"
    url: "https://jonwithers.github.io/portfolio/west-nile"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/reddit_frontpage_button.png
    alt: "Reddit Comment Classification"
    title: "Reddit Comment Classification"
    excerpt: "Classification of comments by online community"
    url: "https://jonwithers.github.io/portfolio/reddit-nlp"
    btn_label: "Read More"
    btn_class: "btn--primary"

---

{% include feature_row id="feature_row1" type="center" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row4" type="center" %}
