---
title: "Jon Withers"
layout: splash
permalink: /
header:
  overlay_color: "#FFF"
  overlay_filter: "0.5"
  overlay_image: /assets/images/background.jpg
  cta_label: "My Resume"
  cta_url: "https://jonwithers.github.io/portfolio/assets/documents/resume.pdf"
excerpt: "Data Science \\| Social Science \\| Music
"
intro:
  - excerpt: 'With degrees in physics and music, I study the overlooked and making the unknown understandable. I dig deep into data so I can connect people to new information and insights in ways that feel like discoveries.'
feature_row:
  - image_path: assets/images/reddit_frontpage_button.png
    alt: "Reddit Comment Classification"
    title: "Reddit Comment Classification"
    excerpt: "Classification of comments by online community"
  - image_path: /assets/images/westnile_frontpage_button.png
    alt: "West Nile Prediction"
    title: "West Nile Prediction"
    excerpt: "Using weather data to predict the West Nile mosquito infection rate"
  - image_path: /assets/images/turkish_frontpage_button.png
    alt: "Turkish Song NLP"
    title: "Turkish Song NLP"
    excerpt: "Supervised and unsupervised learning using 15,000+ Turkish song lyrics"
feature_row2:
  - image_path: /assets/images/turkish_frontpage_button.png
    alt: "Turkish Song NLP"
    title: "Turkish Song NLP"
    excerpt: "Supervised and unsupervised learning using 15,000+ Turkish song lyrics"
    url: "https://jonwithers.github.io/turkish-song-nlp"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/westnile_frontpage_button.png
    alt: "West Nile Prediction"
    title: "West Nile Prediction"
    excerpt: "Using weather data to predict the West Nile mosquito infection rate"
    url: "https://jonwithers.github.io/portfolio/west-nile"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/reddit_frontpage_button.png
    alt: "Reddit Comment Classification"
    title: "Reddit Comment Classification"
    excerpt: "Classification of comments by online community"
    url: "https://jonwithers.gitbub.io/portfolio/reddit-nlp"
    btn_label: "Read More"
    btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
